.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  padding: 10px;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__left > img {
  object-fit: contain;
  height: 40px;
  margin-left: 5px;
  cursor: pointer;
}
.header__right .avatar{
  cursor: pointer;
}

.header__middle {
  display: flex;
  flex: 0.7;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.header__middle > .MuiSvgIcon-root {
  color: gray;
}

.header__middle > input {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
  font-size: medium;
  background: transparent;
}

.header__right {
  display: flex;
  padding-right: 20px;
}
